body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  background-color: rgb(255, 255, 255);
}

h1 {
  text-align: center;
  background-color: red;
  padding: 20px 50px;
}

h2 {
  text-align: center;
  background-color: red;
}
h3 {
  text-align: center;
}
p {
  text-align: center;
}
